/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/

html {
  height: 100%;
  box-sizing: border-box;
}

 body {
   font-family: Lato;
   text-align: center;
   margin: 0;
   min-height: 100%;
   padding-bottom: 2rem;
   position: relative;
 }

 #logo {
   width: 25%;
 }

 #home_container {
   background-image: url("kayaking.png");
   background-size: cover;
   position: absolute;
   bottom: 0;
   right: 0;
   left: 0;
   top: 215px;
   height: 100%;
   width: 100%;
   color: white;
   margin-bottom: 2rem;
   display: block;
 }

.navbar-header {
  width: 100%;
  float: left;
  background-color: white;
  margin: 5px;
	padding: 14px 16px;
  border-bottom: 1px solid grey;
}

a.navbar-brand {
  width: 80%;
  color: black;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display: inline;
  /* float: left; */
  padding: 14px 16px;

}

a.navbar-brand:hover {
  background-color: #111;
  color: white;
}

.container {
  width: 60%;
  margin: auto;
}

.info {
  text-align: left;
  border: 1px solid grey;
  padding: 2px;
  margin: auto;
  font-size: .75em;
}

#most_recent_trip {
  text-align: left;
  border: 1px solid black;
  padding: 5px;
  color: white;
  background-color: grey;
  margin: auto;
  font-size: .75em;
}

.to_do {
  text-align: left;
  float: left;
  width: 50%;
}

.past_activities {
  text-align: left;
  float: left;
  width: 50%;
}

#clear {
    clear: both;
}

.form{
  display: inline-block;
  width: 100%;
  text-align: left;
}


input {
  font-size: 14px;
  height: 30px;
  padding: 5px 10px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #B1B1B1;
  color: black;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;

}

input:focus {
  outline: none;
  opacity: 1;
}

input[type=submit] {
  border: none;
  outline: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  margin: 10px;
}

input[type=checkbox] {
  color: black;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  float: left;
  margin: 10px;
}

select {
  font-size: 14px;
  height: 30px;
  padding: 5px 10px 5px 5px;
  display: block;
  width: 100%;
  border: 1px;
  outline: 1px;
  color: black;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;
}

/* .checkbox {
  float: left;
  display: inline-grid;
  margin: auto;
} */

label {
  color: black;
  display: block;
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  /* position: absolute; */
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.checkbox_labels {
    display: block;
    float: left;
  }




/* active state */
/* input:focus ~ label, input:valid ~ label 		{
  top: -10px;
  font-size: 14px;
  color: black;
  opacity: 1;
} */

a.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
 	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
 	box-shadow:inset 0px 1px 0px 0px #ffffff;
 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
 	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
 	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
 	background-color:#f9f9f9;
 	-moz-border-radius:8px;
 	-webkit-border-radius:8px;
 	border-radius:8px;
 	border:2px solid #dcdcdc;
 	display:inline-block;
 	cursor:pointer;
 	color:#666666;
 	font-family:Arial;
 	font-size:15px;
 	font-weight:bold;
 	padding:13px 24px;
  margin: 5px;
 	text-decoration:none;
 	text-shadow:0px 1px 0px #ffffff;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.button:active {
	position:relative;
	top:1px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 5px;
  border: 1px solid grey;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

li {
  text-align: left;
}

.footer {
  /* color: white;
  text-align: center;
  font-size: .25 em;
  background-color: grey;
  height: 35px;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding; 1rem; */
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  background-color: #efefef;
  text-align: center;

}
