
<div id="home_container" >
  <div class="opaque">
    <h1> Plan your next adventure! </h1>
    <%= link_to "Sign Up", '/users/new', class: 'button' %>
    <br>
    <%= link_to "Login", '/signin', class: 'button'  %>
  </div>
</div>
