<h3>All Your Trips: </h3>

<% @trips.each do |trip| %>
<ul>
  <li> <%= link_to "#{trip.activity.name}", user_trip_path(trip.user_id, trip.id) %>, <%if trip.taken == true %> Past Trip <%else %> To Do List <%end%>  </li>
</ul>
<%end%>
